.tabs {
    width:90%;
    height: 100%;
}

.tabs ul.tabs-header {
    padding-left:0;
    list-style-type: none;
    margin-bottom:0;
    display:flex;
}
.tabs ul.tabs-header li{
    flex:1;
    text-align:center;
    display:inline-block;
    cursor:pointer;
    padding:1rem;
    border:1px solid #ccc;
    transition:0.3s ease-out;
}

.tabs ul.tabs-header li.active{
    background:#000;
    color:#fff;

}

.tabs ul.tabs-header li:not(:last-child){
    border-right:none;
}

.tabs .tabs-body {
    height: 100%;
    text-align:center;
    padding: 3rem;
    border: none;
}